page-home {
    .headerCard  {
        background-color: #a366ff;
        Font-Weight: Bold;
    }

    .toolbar-background {
        background-color: #a366ff;
      }

    .addButton {
        margin-left: auto;
        margin-right: auto;
        display: block;
        background-color: #a366ff 
    }
}
