page-login {
    
 .bg-image {
     background-color: #6666ff;
 }

 .logo {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.item {
    background: rgba(0, 0, 0, 0);
}

.ion-input {
    font-size: 0.9em;
    margin-bottom: 0px;
    margin-top: 1px;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.ion-label {
    font-size: 0.9em;
    color: rgb(255, 255, 255);
}

.buttons {
    background: none;
}

.scroll-content {
    overflow-y: hidden !important;
}
}